<div class="container d-flex justify-content-center " >
  <div class="form">
    <div class="col-12">
      <i class="d-flex justify-content-center fa fa-instagram fa-4x mt-5 mb-5 lead " aria-hidden="true"> &nbspInstagram Clone</i><br/>
    </div>
    <p class="lead">Create a new account</p>
    <%= link_to "SignUp", new_user_registration_path,  class: " form-control  btn btn-success mb-2 "%><br/>
    <p class="lead">Already have an account?</p>
    <%= link_to "Signin", new_user_session_path,  class: "btn btn-success form-control"%>
  </div>
</div>
