<div class="card" >
  <div class="card-body">
    <h5 class="card-title"><%= user.username %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= user.email %></h6>
    <p class="card-text"><%= time_ago_in_words(user.created_at) %></p>
  </div>
</div>
